.App {
  text-align: center;
}

.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #d1d1d1;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  color: #363636;
  margin-bottom: 20px;
}

.input-field {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  font-size: 1rem;
  transition: border 0.3s;
}

.input-field:focus {
  border: 1px solid #9ba9ff;
  outline: none;
  box-shadow: 0 0 8px rgba(92, 102, 167, 0.2);
}

.register-button {
  width: 95%;
  padding: 12px;
  margin-top: 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #5549b4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #4a4e69;
}

.error-message {
  color: #ff1900;
  margin-top: 15px;
  font-size: 0.9rem;
  text-shadow: 0 0 15px rgb(107, 0, 0);
}